---
import type { iresumeItem } from "../../interfaces/resumeItem";
import ResumeItem from "./ResumeItem.astro";
import EducationSVG from "../../../public/svg/education.svg";

const formaleducationItems: iresumeItem[] = [
    {
        title: "Software Engineer Degree",
        institutionName: "Instituto Tecnologico Metropolitano (ITM)",
        startDate: new Date("2020-08-01"),
        finishDate: new Date("2021-10-23"),
        description: undefined,
        icon: EducationSVG,
        inverted: false,
    },
    {
        title: "Information System Technology Degree",
        institutionName: "Instituto Tecnologico Metropolitano (ITM)",
        startDate: new Date("2015-02-01"),
        finishDate: new Date("2019-06-30"),
        description: undefined,
        icon: EducationSVG,
        inverted: true,
    },
    {
        title: "High School Degree",
        institutionName: "Educational institute Antonio Jose Bernal",
        startDate: new Date("2008-01-01"),
        finishDate: new Date("2014-12-01"),
        description: undefined,
        icon: EducationSVG,
        inverted: false
    }
];
---

<section>
    <li class="timeline-heading text-center animate-box">
        <div>
            <h3>Education</h3>
        </div>
    </li>
    {
        formaleducationItems.map(
            ({
                title,
                institutionName,
                startDate,
                finishDate,
                description,
                icon,
                inverted,
            }): iresumeItem => (
                <ResumeItem
                    title={title}
                    institutionName={institutionName}
                    startDate={startDate}
                    finishDate={finishDate}
                    description={description}
                    icon={icon}
                    inverted={inverted}
                />
            )
        )
    }
</section>
